
<!-- SMALL PAPELITOS LOGO -->
<%= image_tag "papelitos_logo.png", class: "small_logo" %>
<span id="game-id" data-game-id="<%= @game.id %>"></span>

<table>
  <tr>
    <td style="width:30%;">
        <h1>TEAM 1</h1>
        <hr>
    </td>
    <td style="width:30%;">
        <h1>TEAM 2</h1>
        <hr>
    </td>
  </tr>
  <tr>
    <td style="width:30%;">
      <h1><ul id="team-1-players"></ul></h1>
    </td>
    <td style="width:30%;">
      <h1><ul id="team-2-players"></ul></h1>
    </td>
  </tr>
</table>


      <%= link_to "START", game_path(@game.id), class: 'buttons' %>

 <%= javascript_pack_tag 'game_users_updates' %>
