
<!-- SMALL PAPELITOS LOGO -->
<%= image_tag "papelitos_logo.png", class: "small_logo" %>

<div class="d-flex">
  <div> <!-- card for team 1 -->
    <div>
      <h1>Team 1</h1>
      <img src="" alt="">
    </div>
    <!-- loop over users of team 1 -->
    <% @game_users.each do |u| %>
      <% if u.game_team == @game.game_teams.first %>
          <li><%= u.user.name %></li>
        <% end %>
      <% end %>
  </div>
  <div> <!-- card for team 2 -->
    <!-- loop over users of team 2 -->
    <% @game_users.each do |u| %>
      <% if u.game_team == @game.game_teams.second %>
        <li><%= u.user.name %></li>
      <% end %>
    <% end %>
  </div>
</div>


<!-- START BUTTON -->
<% if @game_user == 1 %>
  <%= link_to "START", game_path(@game.id), class: 'buttons' %>
<% end %>
