<div id="game_key"><%= @game.key_number %></div>
<p>Share this key with all other players</p>
  <%= simple_form_for [@game, @game_user] do |f| %>
    <div align="center"><%= f.submit "Continue", class: "main-button" %></div>
  <% end %>


