<button type="button" class= "fas fa-rainbow footer-btn" data-toggle="modal" data-target="#exampleModal2">
</button>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content2">
        <span aria-hidden="true">&times;</span>
      <div class="modal-body">
        <h2 id="rainbow-text">Save lives, stay home and play Papelitos !</h2>
        <%= image_tag "rainbow.png", class: "rainbow" %>
      </div>
    </div>
  </div>
</div>
