<div class="footer">
  <%= render partial: "shared/instructions" %>
  <%= image_tag "", class: "fas fa-cog fa-2x settings_icon" %>
  <%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %>
</div>
