<div class="footer">
  <%= render partial: "shared/instructions" %>
  <%= render partial: "shared/end-page" %>
  <%= link_to "", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt" %>
</div>
