<button type="button" class= "fas fa-question fa-2x rules_icon footer-btn" data-toggle="modal" data-target="#exampleModal">
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rules of Papelitos! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Here are the instructions:
          <li>Write 5 words for each guest, in which you must write down historical figures, entertainment, movies, athletes, in short, people that everyone knows.
              The papers flex and are put together.
              Team up and start the game with the "it is worth saying everything except the word" round. It consists of speaking everything that is known about the word that touched you. The only thing you should not say is the word. Guess those of your team and you have 1 minute.
          </li>
            <br><br/>
          <li>The second round is "mimicry", it is very important that you have paid attention to the last round, since this way you will guess easier in the mimicry round.
              Act out the word in the role without making noise and make your team guess. They have one minute per person.
          </li>
            <br><br/>
          <li>Latercer round and last is "one word", in it you will have to guess what the word is with a single word, the joke here is to have a lot of imagination.
          </li>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary buttons join-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
