<button type="button" class= "fas fa-question fa-2x rules_icon footer-btn" data-toggle="modal" data-target="#exampleModal">
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Papelitos's Rules! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Write 5 words for each guest. Once the game starts, you will have 1 minute to make your team guess the words.</p>
        <h5>ROUND #1 "Describe"</h2>
          <p>Describe the word that you see without telling the word.</p>
        <h5>ROUND #2 "Mime"</h2>
          <p>Act out the word in the role without making noise.</p>
        <h5>ROUND #3 "One word"</h2>
          <p>You will have to say a single word for your team to guess which word is.</p>
        <p>Anytime during the game, click on the right button if your partners guess the word otherwise click on the left button.</p>
      </div>
    </div>
  </div>
</div>


