<% if current_user %>
      <!--   <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
      <% if @current_user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "user-avatar" %>
      <% else %>
        <p><%= current_user.name %></p>
    <% end %>
    <p><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></p>
<% end %>



