<div class="navbar">
<% if current_user %>
  <!-- avatar -->
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class: "user-avatar" %>
  <% else %>
    <!-- username -->
    <p class="user-name"><%= current_user.name %></p>
  <% end %>
<% end %>
</div>





