<% if current_user %>
      <!--   <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "user-avatar" %>
      <% else %>
        <p class="user-name"><%= current_user.name %></p>
    <% end %>
<% end %>



