  <!-- TIMER -->
<!--     <div class="c100 p25">
      <h1><span class= "timer-num" id="seconds-left">60</span></h1>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
    </div>
</div>
 -->

  <h1><span class="timer-num seconds-left">60</span></h1>
