
<!-- PAPELITOS LOGO -->
<%= image_tag "papelitos_logo.png", class: "index_logo" %>

<!-- BUTTONS  -->
  <%= simple_form_for @game do |f| %>

  <div align="center">
      <!-- Create button -->
      <%= f.submit "Create a game", class: "buttons" %>
  </div>  
  <% end %>
   
  <div id="join-section" align="center">
    <!-- Join button  --> 
     <button class="buttons join-button" type="button">JOIN GAME</button>
      <!--   hidden form until js join-button click -->
     <div align="center" class="join-form hide-form">
       <input type="text"><br>
       <!-- Submit button  --> 
       <button>GO</button>
     </div>
  </div>
<!-- BUTTONS  -->