
<%= image_tag "papelitos_logo.png", class: "index_logo" %>
<!-- <div class="create" align="center"><a class="buttons">Create a game</a></div>
<div class="key"></div>

<div class="join" align="center"><a class="buttons">Join a game</a></div>
<div class="key_field">
  <input type="text" class="enter_key rem">
</div> -->

  <%= simple_form_for @game do |f| %>
    <div align="center"><%= f.submit "CREATE GAME", class: "main-button" %></div>
  <% end %>

  <div id="join-section" align="center">
  <button class="main-button join-button" type="button">JOIN GAME</button>
    <div align="center" class="join-form hide-form">
      <input type="text"><br>
      <button>GO</button>
    </div>
  </div>
