
// ---- Create and Join Buttons ----
.buttons {
color: $warm-orange !important;
text-transform: uppercase;
text-decoration: none;
background: none;
padding: 10px;
margin: 30px 0 30px 0;
display: inline-block;
border-radius: 8px;
border: solid 1px;
border-color: $warm-orange;
transition: all 0.4s ease 0s;
width: 200px;
letter-spacing: 2px;
font-family: $headers-font;
font-weight: bold;
}

.buttons:hover {
background: rgba(181, 43, 101,0.5);
letter-spacing: 2px;
}


// ------ Bottom right button  ------
.bottom-right{
  width: 100%;
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  right: 16px;
  bottom: 60px;
  width: 40px;

 .btn-bottom-right{
    background: none;
    border: none;
    color: $warm-orange;
    font-size: 20px;
  }

  .fa-angle-double-right{
    font-size: 30px;
  }
}

// ---- START BUTTON ----
.start-btn {
  width: 200px;
  height: 200px;
  font-family: $headers-font;
  font-size: 40px;
  font-weight: bolder;
  color: $background-pink;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 2px 7px #cf3072;
  border: 0px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-image: linear-gradient(to bottom right, $input-pink, $warm-orange);
}

.start-btn:hover{
    background-image: radial-gradient(#ff5900 2%, #ff6a1a 4%, #ff8b4d 6%, $input-pink 80%);
}
// ---- end of START BUTTON ----
