.buttons {
color: $warm-orange !important;
text-transform: uppercase;
text-decoration: none;
background: none;
padding: 10px;
margin: 30px 0 30px 0;
display: inline-block;
border-radius: 8px;
border: solid 1px;
border-color: $warm-orange;
transition: all 0.4s ease 0s;
width: 200px;
letter-spacing: 2px;
font-family: $headers-font;
font-weight: bold;
}

.buttons:hover {
background: $warm-orange;
color: $background-pink;
letter-spacing: 2px;
}



