.footer {
    position: absolute;
    padding: 0px 20px;
    height: 45px;
    width: 100%;
    left: 0px;
    bottom: 0;
    background: rgba(207, 48, 114, 0.39);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

  .fa-cog, .fa-question, .fa-sign-out-alt, .fa-rainbow{
    font-size: 30px;
    color: #E283AB;
    text-align: center;
  }
}
.footer-btn {
  border: none;
  background: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
