.footer{
  position: relative;
  height: 45px;
  width: 100%;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: rgba(207, 48, 114, 0.39);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100%;

  .fa-cog, .fa-question, .fa-sign-out-alt{
    font-size: 30px;
    color: #E283AB;
    text-align: center;
  }
}

