// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button-a";
@import "footer";
@import "logo";
@import "inputs";


body{
  background-color: $background-pink;
  font-family: $headers-font;
  color: $warm-orange;
  padding: 20px;
  max-width: 770px;
  margin: 0 auto;
}

// LOGO BIG SIZE
.index_logo{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//----hide join button form before js onclick--//
.hide-form{
  visibility: hidden;
}

// container
.container{
  padding: 10px 10px 20px;
  text-align: center;
  margin: 10px 10px 20px;
  width: auto;
}
