// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button-a";
@import "footer";
@import "logo";
@import "inputs";
@import "card";
@import "round_show";

body{
  background-color: $background-pink;
  font-family: $headers-font;
  color: $warm-orange;
  // padding: 20px;
  // max-width: 770px;
  // margin: 0 auto;
}


//----hide join button form before js onclick--//
.hide-form{
  visibility: hidden;
}

// container
.container{
  padding: 10px 10px 20px;
  text-align: center;
  margin: 10px 10px 20px;
  width: auto;
}

.body-container{
  width: 90%;
  margin: auto;
}
