// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card-trip";
@import "button-a";
@import "footer";
@import "logo";
@import "input";

body{
  background-color: #621055;
}

.index_logo{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//----hide join button form before js onclick--//
.hide-form{
  visibility: hidden;
}

