// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button-a";
@import "footer";
@import "logo";
@import "inputs";
@import "card";
@import "round_show";
@import "player-screen";
@import "circle";
@import "instructions";
@import "end-page";

html{
  position:relative;
  height: 100%
}

//----hide join button form before js onclick--//
.hide-form{
  visibility: hidden;
}

// container
.container{
  padding: 5px 5px 10px;
  text-align: center;
  margin: 2% auto;
  width: auto;

  #style-round h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
    text-transform: capitalize;
  }
}

.body-container{
  width: 90%;
  max-width: 700px;
  margin: auto;
  background-color: $background-pink;
  font-family: $headers-font;
  color: $warm-orange;
}
