.modal-content{
  background-color: $dark-pink;

  h2{
    font-weight: bold;
  }

  h5{
    margin-top: 10px;
    margin-bottom: auto;
  }

  p{
    font-family: $body-font;
    font-size: 14px;
    margin-bottom: 25px;

  }
}
