// big logo
.index_logo{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// small logo
.small_logo{
  width: 100px;
  display: block;
  position: fixed;
  left: 0;
  padding: 5px;
  margin-left: 20px;
}

.login_logo{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
