.navbar{
  justify-content: flex-end;
}

.avatar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
span {
  margin-left: 10px;
}
}

// .nav-link{
//   text-decoration: none;
//   color: white;
// }

