 // .d-flex {
 //    margin-top: 10px;
 //    width: 100%;
 // }

  .card-header h1{
    font-size: 1.5rem;
  }

  // .card-header img{
  //   width: 20px;
  //   height: 20px;
  // }

  .card-team{
  background-color: $input-pink;
  border-radius: 8px;
  height: 100px;
  padding: 20px;
  margin: 5px;
  width: 100%;
  }

.card-team-player {
  width: 46%;
}
