// INPUT for key number when join game
#key_number{
  width: 143px;
  height: 63px;
  margin: 30px;
  background-color: rgba(181, 43, 101,0.7);
  text-align: center;
  border: none;
  color: $warm-orange;
  font-weight: bold;
  font-size: 30px;
  border-radius: 8px;
  letter-spacing: 3px;
}

// INPUT for key number when display in game#words
#game_key{
  width: auto;
  margin: 30px;
  margin-top: 0;
  text-align: center;
  border: none;
  color: $warm-orange;
  font-size: 40px;
  letter-spacing: 3px;
}

#font-game {
  font-size: 12px;
  text-align: center;
}

// input for words
.input-word{
  width: 90%;
  background-color: rgba(181, 43, 101,0.7);
  border: none;
  padding: 10px;
  margin: 10px;
  font-family: $body-font;
  color: $warm-orange;
  font-size: 20px;
  border-radius: 8px;
  }

.input-word::placeholder{
  color: $dark-pink;
  font-size: 18px;
}


