<div class="container">
  <!-- Game key to share -->
  <div id="game_key"><%= @game.key_number %>
    <br>
    <div id= "font-game">Share it with your friends
    </div>
  </div>
  <div>
    <!-- Inputs for creating words -->
    <%= form_tag game_game_words_path(@game), method: "post" do %>
      <input class="input-word" type="text" name="word_1" placeholder="Enter your word" />
      <input class="input-word" type="text" name="word_2" placeholder="Enter your word" />
      <input class="input-word" type="text" name="word_3" placeholder="Enter your word" />
      <input class="input-word" type="text" name="word_4" placeholder="Enter your word" />
      <input class="input-word" type="text" name="word_5" placeholder="Enter your word" />
  <!--  button submit -->
  <div class="bottom-right">
    <input type="submit" value="Submit" class="btn-bottom-right" />
    <i class="fas fa-angle-double-right"></i>
  </div>
    <% end %>
  </div>
</div>

